window-rule {
    default-column-width {}
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
