window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    default-column-width { proportion 0.7; }
}

window-rule {
    match app-id="Alacritty"
    match app-id="Kitty"
    default-column-width { proportion 0.5; }
}


window-rule {
    match app-id="qutebrowser"
    match app-id="chrome"
    open-maximized true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
